//*search bar
.searchbar{
    align-items: center;
    display: flex;
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 8vh;
    justify-content: space-between;
    padding: 12px 16px;
    width: 100%;
}

.searchbar__title{
    color: whitesmoke;
    font-weight: 100;
}

//*search bar/form
.searchbar__input--wrap{
    display: flex;
    background-color: rgb(17, 17, 17);
    padding: 12px 16px;
    width: 100%;
}

.searchbar__input{
    border-bottom: none !important;
    color: whitesmoke;
    display: inline-block;
    font-family: $main-font;
    font-size: 4rem !important;
    height: 90% !important;
}

//*input overwrites
.searchbar__input::placeholder{
    color: rgba(163, 163, 163, 0.24);
}

.searchbar__input--wrap input:focus + label {
    color: rgb(29, 29, 29) !important;
}
/* label underline focus color */
.searchbar__input--wrap input:focus {
    border-bottom: 1px solid #5c6bc0 !important;
    box-shadow: 0 1px 0 0 rgb(29, 29, 29) !important
}

//sidebar transition 
.trans-enter {
    opacity: 0.01;
}

.trans-enter.trans-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
    -webkit-transition: opacity 500ms ease-in;
    -moz-transition: opacity 500ms ease-in;
    -ms-transition: opacity 500ms ease-in;
    -o-transition: opacity 500ms ease-in;
}

.searchbartrans-leave {
    opacity: 1;
}

.searchbartrans-leave.searchbartrans-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}  

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .searchbar__input{
        border-bottom: none !important;
        color: whitesmoke;
        display: inline-block;
        font-family: $main-font;
        font-size: 2rem !important;
        height: 90% !important;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
    .searchbar__input{
        border-bottom: none !important;
        color: whitesmoke;
        display: inline-block;
        font-family: $main-font;
        font-size: 3rem !important;
        height: 90% !important;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}